
body{
    background-color: #305050;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0 24px;
}

.texto-um{
    color: #ffa500;
    font-size: 24px;
}

.texto-dois{
    color: #ffa500;
    font-size: 24px;
}

.paragrafo{
    font-size: 20px;
}

.rodape{
    text-align: center;
    display: grid;
    font-size: 18px;
    color: #0dffbf;
}

.imagem{
    width: 60%;
}

.linha{
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
}





