body{
background-color: rgb(101, 101, 104);
text-align: center;
}
.titulo{ 
    color: black;
}
    
   .subtitulo{
    font-size: 190%;
color: rgb(255, 255, 255);

}

.texto-um{
text-align:center ;
font-size: 20px;
color: rgb(247, 241, 241);
}


.imagem-um{
width: 600px;
}

.imagem-dois{
    width: 600px;
}

.rodape{
    position: center;
    bottom: 50;
text-align: center;
color: rgb(255, 255, 255);
}





